# informa ao TypeORM que estamos em ambiente de desenvolvimento
NODE_ENV=development

# Segredo jwt
JWT_SECRET=portas123

# Configurações do Sistema
PORT=3000

# Configurações do Banco de Dados
DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=portas_abertas_db
# A port 5432 é a padrão, mas usar a 5433 tira a necessidade de desligar o postgres
DB_PORT=5433

# Configurações do pgAdmin (Visualizador)
PGADMIN_EMAIL=admin@email.com
PGADMIN_PASSWORD=admin123

# Define o nível de segurança/lentidão do algoritmo
BCRYPT_SALT_ROUNDS=12