# Configurações do Banco de Dados
DB_USER=usuario_aqui
DB_PASSWORD=senha_aqui
DB_NAME=nome_do_banco_aqui
# A port 5432 é a padrão, mas usar a 5433 tira a necessidade de desligar o postgres
DB_PORT=5433

# Configurações do pgAdmin (Visualizador)
PGADMIN_EMAIL=seu_email@exemplo.com
PGADMIN_PASSWORD=senha_admin_aqui
