# Configurações do Sistema
PORT=portaAqui;

# Configurações do Banco de Dados
DB_USER=seuUsuario
DB_PASSWORD=suaSenha
DB_NAME=nomeDoBanco
# A port 5432 é a padrão, mas usar a 5433 tira a necessidade de desligar o postgres
DB_PORT=5433

# Configurações do pgAdmin (Visualizador)
PGADMIN_EMAIL=seuEmail@email.com
PGADMIN_PASSWORD=suaSenhaPGAdmin
